<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="optimization" type="Optimization.Configuration.OptimizationConfigSection, Optimization.Framework" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="module" value="Metabol" />
    <add key="dbConnectString" value="Persist Security Info=False;User ID=pathcase52;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5.2;Data Source=10.100.8.82;" />
    <add key="ClientSettingsProvuserkeyer.ServiceUri" value="" />
    <add key="allReaction" value="allReaction.csv" />
    <add key="selection" value="selected.csv" />
    <add key="modelOutput" value="A:\model2\" />
  </appSettings>
<optimization xmlns="com.optimizationzen.optimization.framework">
    <solvers>
      <solver name="GLPK" path="B:\projects\PathCase_SB_SBW_Models-20141211\Reference Assemblies\GLPK\x64" />
      <solver name="GLPK" path="B:\projects\PathCase_SB_SBW_Models-20141211\Reference Assemblies\GLPK\x86" />
    </solvers>
  </optimization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Optimization.Framework" publicKeyToken="41b74c8b864fd6b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1258.0" newVersion="0.3.1258.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
