<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="module" value="Metabol"/>
    <add key="dbConnectString" value="Persist Security Info=False;User ID=pathcase52;Password=dblab;Initial Catalog=MetabolicNetwork;Data Source=10.100.8.82;"/>
    <add key="ClientSettingsProvuserkeyer.ServiceUri" value=""/>
    <!--<add key="allReaction" value="allReaction.csv"/>-->
    <!--<add key="selection" value="selected.csv"/>-->
    <!--<add key="blockedReactions" value="blocked.csv"/>-->
    <!--_nocommon-->
    <add key="modelOutput" value="B:\model2\"/>
    <!--<add key="allStoichiometry" value="allStoichiometry.csv"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="CyclesCacher.Properties.Settings.MetabolicNetworkConnectionString" connectionString="Data Source=10.100.8.82;Initial Catalog=MetabolicNetwork;Persist Security Info=True;User ID=pathcase52;Password=dblab" providerName="System.Data.SqlClient"/>
    <add name="CyclesCacher.Properties.Settings.PathCase_SystemBiology_V5_2ConnectionString" connectionString="Data Source=10.100.8.82;Initial Catalog=PathCase_SystemBiology_V5.2;User ID=pathcase52;Password=dblab" providerName="System.Data.SqlClient"/>
    <add name="CycleReactionModel" connectionString="data source=10.100.8.82;initial catalog=MetabolicNetwork;persist security info=True;user id=pathcase52;password=dblab;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="CycleReactionModel1" connectionString="data source=10.100.8.82;initial catalog=MetabolicNetwork;persist security info=True;user id=pathcase52;password=dblab;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="MetabolicNetwork" connectionString="data source=10.100.8.82;initial catalog=MetabolicNetwork;persist security info=True;user id=pathcase52;password=dblab;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
