<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="name" value="CyclesCacher" />
    <add key="module" value="CyclesCacher" />
    <add key="dbConnectString" value="Persist Security Info=False;User ID=pathcase52;Password=dblab;Initial Catalog=MetabolicNetwork;Data Source=10.100.8.82;" />
    <add key="ClientSettingsProvuserkeyer.ServiceUri" value="" />
    <add key="modelOutput" value="C:\model2\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="CyclesCacher.Properties.Settings.PathCase_SystemBiology_V5_2ConnectionString" connectionString="Data Source=10.100.8.82;Initial Catalog=PathCase_SystemBiology_V5.2;User ID=pathcase52;Password=dblab" providerName="System.Data.SqlClient" />-->
    <!--<add name="MetabolicNetwork2" connectionString="data source=10.100.8.82;initial catalog=MetabolicNetwork;persist security info=True;user id=pathcase52;password=dblab;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <add name="MetabolicNetworkContext" connectionString="data source=10.100.8.80;initial catalog=MetabolicNetwork;persist security info=True;user id=pathcase52;password=dblab;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EcoliCoreDBContext" connectionString="data source=10.100.8.80;initial catalog=EcoliCore;persist security info=True;user id=pathcase52;password=dblab;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="data source=10.100.8.80;initial catalog=MetabolApiDb;persist security info=True;user id=pathcase52;password=dblab;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>