<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="module" value="SBMLParser"/>
    <add key="oldDbConnectString" value="Persist Security Info=False;User ID=pathcase;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5_SBW_Models;Data Source=dblab.case.edu;"/>
    <add key="dbConnectString" value="Persist Security Info=False;User ID=pathcase;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5_SBW_Models;Data Source=dblab.case.edu;"/>
    <add key="dbUserUploadsConnectString" value="Persist Security Info=False;User ID=pathcase;Password=dblab;Initial Catalog=Pathcase_SystemBiology_UserUploads_V5;Data Source=dblab.case.edu;"/>
    <add key="modelDirectory" value="C:\Users\Administrator\Downloads\sbml-test-cases-2011-06-15" />
    <add key="builtOnNewDatabase" value="false" />
    <add key="ecNumberFileFTPAddress" value="ftp://ftp.expasy.org/databases/enzyme/enzclass.txt"/>
  </appSettings>
</configuration>