<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="optimization" type="Optimization.Configuration.OptimizationConfigSection, Optimization.Framework" />
  </configSections>
  <appSettings>
    <add key="module" value="SBMLParser" />
    <add key="dbConnectString" value="Persist Security Info=False;User ID=pathcase52;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5.2;Data Source=10.100.8.82;" />
    <add key="dbUserUploadsConnectString" value="Persist Security Info=False;User ID=pathcase52;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5.2;Data Source=10.100.8.82;" />
    <add key="oldDbConnectString" value="Persist Security Info=False;User ID=pathcase52;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5.2;Data Source=10.100.8.82;" />

    <!--<add key="oldDbConnectString" value="Persist Security Info=False;User ID=pathcase;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5.2;Data Source=dblab.case.edu;"/>-->
    <!--<add key="dbConnectString" value="Persist Security Info=False;User ID=pathcase;Password=dblab;Initial Catalog=PathCase_SystemBiology_V5_SBW_Models;Data Source=dblab.case.edu;"/>-->
    <!--<add key="dbUserUploadsConnectString" value="Persist Security Info=False;User ID=pathcase;Password=dblab;Initial Catalog=Pathcase_SystemBiology_UserUploads_V5;Data Source=dblab.case.edu;"/>-->
   
    <add key="modelDirectory" value="C:\Users\feruzdavletov\Desktop\datasource\recon_model" />
    <add key="builtOnNewDatabase" value="false" />
    <add key="genome" value="C:\Users\feruzdavletov\Desktop\datasource\genome" />
    <add key="ecNumberFileFTPAddress" value="ftp://ftp.expasy.org/databases/enzyme/enzclass.txt" />
  </appSettings>
<optimization xmlns="com.optimizationzen.optimization.framework">
    <solvers>
      <solver name="GLPK" path="..\..\Reference Assemblies\GLPK\x86" />
    </solvers>
  </optimization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Optimization.Framework" publicKeyToken="41b74c8b864fd6b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1036.0" newVersion="0.3.1036.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>